{% extends "base.html" %}
{% block title %}Ejercicio 2{% endblock %}
{% block body %}
   <br>
   <br>
   <br>
   <br>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">

                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h3>Calcular la Categoria de edad ala que pertenece</h3>
                    </div>
                    <div class="card-body">
                        <form action="ejercicio2" method="post" class="row g-3" >
                          
                            <div class="mb-3">
                      
                                <label for="primerCorte" class="form-label">Ingrese Su Edad</label>
                             
                                <input type="number" name="edad"  class="form-control" id="edad">
                            </div>

                           
                            <div class="d-grid mt-4">
                              
                                <button type="submit" value="categoria"  class="btn btn-primary">Calcular Edad</button>
                            </div>
                        </form>

                        <div class="mt-4 text-center">
                            <h4>La Categoria Ala Que Pertenece es:<span class="fw-bold" id="resultado"> {{categoria}} </span></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<br>
   <br>

   <div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-0 bg-light shadow-sm">
      <div class="card-body">
        <h5 class="fw-bold text-success mb-3">Descripción del Ejercicio</h5>
        <p><strong>Enunciado:</strong> Escribe un programa que pida la edad de una persona y determine a qué categoría pertenece (niño, adolescente, adulto, adulto mayor) según rangos de edad predefinidos.</p>
        <ul>
          <li><strong>Entrada:</strong> Edad de la persona.</li>
          <li><strong>Proceso:</strong> Usar condicionales para clasificar la edad en categorías:<br>
            - Niño: Menor de 13 años.<br>
            - Adolescente: Entre 13 y 17 años.<br>
            - Adulto: Entre 18 y 64 años.<br>
            - Adulto mayor: 65 o más años.
          </li>
          <li><strong>Salida:</strong> La categoría de edad (niño, adolescente, adulto, adulto mayor).</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
   <br>

{% endblock %}