{% extends "base.html" %}
{% block title %}Ejercicio 7{% endblock %}
{% block body %}

   <br>
   <br>
   <br>
   <br>


    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-6">

                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h3>Calcular si un numero es positivo o negativo</h3>
                    </div>
                    <div class="card-body">
                        <form action="ejercicio7" method="post" class="row g-3">
                         
                            <div class="mb-3">
                            
                                <label for="primerCorte" class="form-label">Ingrese Un Numero</label>
                                <input type="number" name="Num"  class="form-control" id="Num">
                            </div>

                               <div class="d-grid mt-4">
                                <button type="submit" class="btn btn-primary">Calcular Numero</button>
                            </div>

                        </form>

                        <div class="mt-4 text-center">
                            <h4>El Numero  <span class="fw-bold" id="resultado"> {{par_impar}} </span></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<br>
   <br>
 <!-- Descripción del ejercicio 7 -->
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-0 bg-light shadow-sm">
      <div class="card-body">
        <h5 class="fw-bold text-success mb-3">Descripción del Ejercicio</h5>
        <p><strong>Enunciado:</strong> Escribe un programa que pida un número y determine si es positivo, negativo o cero. Además, si el número es positivo, indique si es par o impar.</p>
        <ul>
          <li><strong>Entrada:</strong> Un número.</li>
          <li><strong>Proceso:</strong> Usar condicionales:<br>
            - Si es mayor que 0, verificar si es par o impar.<br>
            - Si es menor que 0, indica que es negativo.<br>
            - Si es igual a 0, indica que es cero.
          </li>
          <li><strong>Salida:</strong> La clasificación del número como positivo, negativo o cero, y si es par o impar cuando es positivo.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
   <br>
{% endblock %}